:root {
	--fuenteH: 'PT Sans', sans-serif;
	--fuenteP: 'Open Sans', sans-serif;

	--primario: #784D3C;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: var(--fuenteP);
	font-size: 1.6rem;
	line-height: 2;
}

/* GLOBALES */
.contenedor {
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4 {
	font-family: var(--fuenteH);
}

h1 {
	font-size: 4.8rem;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3.2rem;
}

h4 {
	font-size: 2.8rem;
}